.banner {
    width: 100%;
    padding: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
}

.banner .brand {
    width: 100%;
    display: flex;
    align-items: center;
}

.banner .brand .logo {
    width: 64px;
}

.banner .description {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
}

#applications-container {
    height: 75vh;
}

#applications-container .card,
#applications-container .list {
    cursor: pointer;
}

#loading {
    height: 80vh;
}

#loading .spinner-border {
    width: 5rem;
    height: 5rem;
    margin: 0 0 1vh 0;
}

.error {
    display: none;
}

.command {
    cursor: pointer;
}

.actions .bi {
    cursor: pointer;
}

.fast-about .icon {
    height: 32px;
}

@keyframes displayError {
    0% {
        display: block;
        opacity: 0;
        visibility: hidden;
    }
    10% {
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
    90% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
